h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya Sans', sans-serif!important;
	}
.modal-title, .navbar-header-text{
	font-weight: 300;
	font-size: 22px;
}
.modal-backdrop {
	background-color:#F0F0F0!important;
	opacity:.8!important;
	}
.modal-content{
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	box-shadow:none;
	}
	
	.mainvis {
		width:1170px!important;
	}
	
	#visualization{
		margin-top:60px;
	}
	
	.infopanel{
		position: fixed;
		top: 80px;
		float: right;
		right: 20px;
		height: 400px;
		width: 250px;
		background-color: #FAFAFA;
		border: 1px solid #DDD;
		padding: 10px;
	}
	